# Saved games
/sav/*.sav

## Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# VSCode
.vscode/

# Extra data files
/data/Mental-State.psd
/data/menu_background_og.png
/data/menu_background_old.png
/data/menu_background_sm.png
/data/mountain.txt