# Saved games
/sav/*.sav

# Cache
__pycache__/
/components/__pycache__/
*.pyc

# VSCode
.vscode/

# Extra data files
/data/Mental-State.psd
/data/menu_background_og.png
/data/menu_background_old.png
/data/menu_background_sm.png
/data/mountain.txt